html, body {
  padding: 0;
  margin: 0;
  font-family: "TypoPRO Source Sans Pro";
  font-size: 1.1em;
  color: white;
  background: #333;
}

body {
  min-height: calc(100vh - 1rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

button {
  font-weight: normal;
  box-sizing: border-box;
  height: 2rem;
  background: #a33;
  color: white;
  border: none;
  outline: none;
  box-shadow: 0 0px 2px 0px #222;
  cursor: pointer;
}

input[type="text"], input[type="password"] {
  box-sizing: border-box;
  height: 2rem;
  outline: none;
  background: #222;
  color: white;
  border: 1px solid #111;
  padding: .5rem;
}

input[type="checkbox"] {
  padding: 0;
  margin: 0;
  outline: none;
  appearance: none;
  height: 2rem;
  width: 2rem;
  background: #222;
  border: 1px solid #111;
  margin-right: .5rem;
}

input[type="checkbox"]:checked::after {
  content: "✓";
  font-size: 2rem;
  position: relative;
  left: 4px;
  bottom: 4px;
  color: #ddd;
}

