<Container @type="center">
  {{#if this.canRegisterCurrentDevice}}
    <Form {{on "submit" this.addCurrentDevice}}>
      <Input @value={{this.newDeviceName}} />
      <button type="submit">Add Current Device</button>
    </Form>
  {{/if}}

  {{#if this.showNotInLocalNetworkMsg}}
    <p>The current device can only be identified or added when you are in the local network.</p>
  {{/if}}

  {{#each this.devices as |device|}}
    <div local-class="device">
      <div local-class="name">{{device.name}}</div>
      <div local-class="mac">
        {{device.mac}}
        {{#if (eq this.currentDevice.id device.id)}}
          <span local-class="current-tag">this device</span>
        {{/if}}
      </div>

      <div local-class="button-row">
        <button local-class="delete" {{on "click" (fn this.delete device)}} type="button">
          <FaIcon @icon="trash-alt" />
        </button>
        {{!-- {{#if (eq this.currentDevice.id device.id)}}
          <div local-class="current-tag">Current Device</div>
        {{/if}} --}}
      </div>
    </div>
  {{/each}}
</Container>