.device {
  border: 1px solid white;
  margin: 1rem 0;
  padding: .5rem;
}

.name {
  font-weight: bold;
}

.current-tag {
  margin-left: .5rem;
  font-weight: 100;
  border: 1px solid #777;
  /* background: #444; */
  padding: 0 .25rem;
  border-radius: 7px;
}

.button-row {
  margin-top: .5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.delete {
  background: none;
  border: 0;
  box-shadow: none;
}

.delete:focus, .delete:hover {
  animation-name: rotate;
  animation-timing-function: cubic-bezier(.68,-0.55,.27,1.55);
  animation-duration: 1s;
  animation-iteration-count: 1;
}

@keyframes rotate {
  0% { transform: rotate(0deg); text-shadow: 0 0 20px yellow; }
  100% { transform: rotate(360deg); text-shadow: 0 0 0px yellow; }
}
