.form {
  /* display: grid;
  grid-template-columns: [label] minmax(3rem, auto) [value] 1fr;
  gap: 1rem;
  grid-auto-rows: auto; */
  display: flex;
  flex-direction: column;
}

.form h1,
.form h2,
.form h3 {
  text-align: center;
}

.form div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form input {
  margin-bottom: .5rem;
}

.form button {
  margin-top: .5rem;
}
