<Container @type="center">
  <Form @submit={{this.submit}}>
    <h1>Login</h1>

    <label for={{"username"}}>Username</label>
    <Input id={{"username"}} @value={{this.username}} required />

    <label for={{"password"}}>Password</label>
    <Input id={{"password"}} @type="password" @value={{this.password}} required />

    <button type="submit">Login</button>
  </Form>
</Container>