<Container @type="center">
  <Form @submit={{this.submit}}>
    <h1>Register</h1>

    <label for={{"username"}}>Username</label>
    <Input id={{"username"}} @value={{this.username}} />

    <label for={{"email"}}>E-Mail</label>
    <Input id={{"email"}} @value={{this.email}} />

    <label for={{"password"}} >Password</label>
    <Input id={{"password"}} @type="password" @value={{this.password}} />

    <div>
      <Input id={{"anonymous"}} @type="checkbox" @checked={{this.anonymous}} />
      <label for={{"anonymous"}} type="anonymous">Anonymous</label>
    </div>
    <button type="submit">Register</button>
  </Form>
</Container>