.nav {
  position: sticky;
  display: flex;
  flex-direction: row;
  top: 0;
  left: 0;
  right: 0;
  height: 3rem;
  background-color: #a33;
  align-items: center;
  padding: 0 1rem;
  border-bottom: 1px solid white;
  margin-bottom: 1rem;
  width: 100vw;
  box-sizing: border-box;
}

.nav > * {
  margin-right: 1rem;
}

.nav a {
  text-decoration: none;
  color: white;
}

.nav a:hover, .nav button:hover {
  text-decoration: underline;
}

.nav button {
  cursor: pointer;
  border: none;
  background: none;
  font-weight: inherit;
  color: inherit;
  border: none;
  box-shadow: none;
}
