<nav local-class="nav">
  {{#if this.session.isAuthenticated}}
    <LinkTo @route="dashboard">Dashboard</LinkTo>
    <LinkTo @route="devices">Devices</LinkTo>
    <button {{on "click" this.invalidate}}>Logout</button>
  {{else}}
    <LinkTo @route="register">Register</LinkTo>
    <LinkTo @route="login">Login</LinkTo>
  {{/if}}
</nav>